@font-face {
  font-family: 'Punk-STREAM';
  src: url(VeryVeryPunkFont-ZpZ0K.ttf);
}

@font-face {
  font-family: 'PixTimes';
  src: url(PixelTimesBold.ttf);
}

@font-face {
  font-family: 'PixTimesSoft';
  src: url(PixelTimes.ttf);
}

html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default body margins */
}

.str-full-viewport-container {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.str-full-viewport-container-mobile {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.str-main-panel {
  z-index: 3;
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
  width: 100vw;
}

.str-main-panel-mobile {
  z-index: 3;
  height: 110%;
  margin-left: 10px;
  text-align: -webkit-center;
  width: 100vw;
}

.str-home-logo {
  height: 27vmin;
  padding-block: 1rem;
}

.str-home-logo-mobile {
  height: 27vmin;
  padding-block: 1rem;
}

.str-container {
  display: inline-grid;
  justify-content: 'center';
  width: 70%;
  margin-bottom: 10px;
}

.str-spotify-click {
  font-family: 'Punk-STREAM';
  font-size: 4vw;
  color: black;
  background-color: mediumspringgreen;
  text-align: center;
  width: 25%;
  justify-self: center;
  margin-top: 25px;
  rotate: -10deg;
}

.str-spotify-click-mobile {
  font-family: 'Punk-STREAM';
  font-size: 48px;
  color: black;
  background-color: mediumspringgreen;
  text-align: center;
  width: 100%;
  justify-self: center;
  margin-right: 10px;
  margin-top: 10px;
  /* rotate: -10deg; */
}

.str-youtube-click {
  font-family: 'Punk-STREAM';
  font-size: 4vw;
  color: black;
  background-color: maroon;
  text-align: center;
  justify-self: center;
  margin-top: 25px;
  width: 25%;
  rotate: -10deg;
}

.str-youtube-click-mobile {
  font-family: 'Punk-STREAM';
  font-size: 48px;
  color: black;
  background-color: maroon;
  text-align: center;
  justify-self: center;
  margin-top: 25px;
  margin-right: 10px;
  width: 100%;
  /* rotate: -10deg; */
}

.str-apple-click {
  font-family: 'Punk-STREAM';
  font-size: 4vw;
  color: white;
  background-color: palevioletred;
  text-align: center;
  width: 25%;
  justify-self: center;
  margin-left: 10px;
  margin-top: 25px;
  rotate: -10deg;
}

.str-apple-click-mobile {
  font-family: 'Punk-STREAM';
  font-size: 48px;
  color: white;
  background-color: palevioletred;
  text-align: center;
  width: 100%;
  justify-self: center;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 0px;
  /* rotate: -10deg; */
}

.str-slowcrow {
  height: 8vmin;
}

.str-streaming-logo {
  height: 20vmin;
  padding-block: 1rem;
  margin-bottom: 20px;
}

.str-youtube-logo {
  height: 20vmin;
  padding-block: 0rem;
  margin-bottom: 20px;
}

.str-contact-us {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Deadline';
  font-size: 20.5px;
  color: rgba(0, 250, 154, 1);
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.str-contact-us-mobile {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Deadline';
  font-size: 20.5px;
  color: rgba(0, 250, 154, 1);
  margin-top: 60px;
  text-decoration: underline;
  cursor: pointer;
}
