
@font-face {
  font-family: 'PixTimes';
  src: url(PixelTimesBold.ttf);
}

@font-face {
  font-family: 'PixTimesSoft';
  src: url(PixelTimes.ttf);
}

html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default body margins */
}

.full-viewport-container {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.full-viewport-container-mobile {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.main-panel {
  z-index: 3;
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
  width: 100vw;
}

.main-panel-mobile {
  z-index: 3;
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
  width: 100vw;
}

.home-logo {
  height: 27vmin;
  padding-block: 1rem;
}

.home-logo-mobile {
  height: 27vmin;
  padding-block: 1rem;
}

.spotify-click {
  font-family: 'Punk';
  font-size: 5vw;
  color: mediumspringgreen;
  background-color: black;
  text-align: center;
  width: 80%;
  justify-self: center;
  margin-top: 25px;
  rotate: -10deg;
}

.youtube-click {
  font-family: 'Punk';
  font-size: 5vw;
  color: black;
  background-color: maroon;
  text-align: center;
  justify-self: center;
  margin-top: 25px;
  rotate: -10deg;
}

.apple-click {
  font-family: 'Punk';
  font-size: 5vw;
  color: white;
  background-color: palevioletred;
  text-align: center;
  width: 70%;
  justify-self: center;
  margin-left: 10px;
  margin-top: 25px;
  rotate: -10deg;
}

.slowcrow {
  height: 8vmin;
}

.streaming-logo {
  height: 20vmin;
  padding-block: 1rem;
  margin-bottom: 20px;
}

.youtube-logo {
  height: 20vmin;
  padding-block: 0rem;
  margin-bottom: 20px;
}

.contact-us {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Deadline';
  font-size: 20.5px;
  color: rgba(0, 250, 154, 1);
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}
