@font-face {
  font-family: 'Punk';
  src: url(VeryVeryPunkFont-ZpZ0K.ttf);
}

@font-face {
  font-family: 'Deadline';
  src: url(AllAgesDemo-2DPX.ttf);
}

html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default body margins */
}

.full-viewport-container {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.sidebar {
  height: 100vh;
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%,
  rgba(171, 170, 255, 1) 70%, 
  rgba(0, 250, 154, 1) 100%);

  /* background-color: mediumspringgreen; */

  /* background: linear-gradient(0deg,rgba(255, 0, 0, 1) 0%,
  rgba(171, 170, 255, 1) 50%, 
  rgba(0, 250, 154, 1) 100%); */

  /* background: linear-gradient(0deg,rgba(255, 0, 0, 1) 0%, 
  rgba(0, 0, 0, 1) 50%, 
  rgba(0, 250, 154, 1) 100%); */

  /* background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, 
  rgba(51, 0, 0, 1) 0%,
  rgba(196, 0, 0, 1) 0%, 
  rgba(0, 0, 0, 1) 50%, 
  rgba(0, 250, 154, 1) 100%); */
}

.main-panel {
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
}

.spotify-click {
  font-family: 'Punk';
  font-size: 6.5vw;
  color: mediumspringgreen;
  background-color: black;
  text-align: center;
  width: 80%;
  justify-self: center;
  margin-top: 25px;
  rotate: -10deg;
}

.youtube-click {
  font-family: 'Punk';
  font-size: 6.5vw;
  color: black;
  background-color: maroon;
  text-align: center;
  justify-self: center;
  margin-top: 25px;
  rotate: -10deg;
}

.apple-click {
  font-family: 'Punk';
  font-size: 6.5vw;
  color: white;
  background-color: palevioletred;
  text-align: center;
  width: 70%;
  justify-self: center;
  margin-left: 10px;
  margin-top: 25px;
  rotate: -10deg;
}

.home-logo {
    height: 35vmin;
    padding-block: 1rem;
    margin-bottom: 20px;
}

.slowcrow {
  height: 8vmin;
}

.streaming-logo {
  height: 20vmin;
  padding-block: 1rem;
  margin-bottom: 20px;
}

.youtube-logo {
  height: 20vmin;
  padding-block: 0rem;
  margin-bottom: 20px;
}

.contact-us {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Deadline';
  font-size: 3vw;
  color: maroon;
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}