html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default body margins */
}

.full-viewport-container {
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.home-logo {
    height: 35vmin;
    padding-block: 1rem;
    margin-bottom: 20px;
}

.slowcrow {
  height: 8vmin;
}

.streaming-logo {
  height: 20vmin;
  padding-block: 1rem;
  margin-bottom: 20px;
}

.youtube-logo {
  height: 20vmin;
  padding-block: 0rem;
  margin-bottom: 20px;
}