
@font-face {
  font-family: 'PixTimes';
  src: url(PixelTimesBold.ttf);
}

@font-face {
  font-family: 'PixTimesSoft';
  src: url(PixelTimes.ttf);
}

html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default body margins */
}

.lv-full-viewport-container {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.lv-full-viewport-container-mobile {
  display: flex;
  align-content: space-evenly;
  background-color: black;
  min-height: 100vh; /* Use min-height to ensure it covers the viewport */
  width: 100vw; /* Use vw units to cover the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.lv-main-panel {
  z-index: 3;
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
  width: 100vw;
}

.lv-main-panel-mobile {
  z-index: 3;
  height: 100vh;
  margin-left: 30px;
  text-align: -webkit-center;
  width: 100vw;
}

.lv-home-logo {
  height: 27vmin;
  padding-block: 1rem;
}

.lv-home-logo-mobile {
  height: 35vmin;
  padding-block: 1rem;
}

.lv-contact-us {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Deadline';
  font-size: 20.5px;
  color: rgba(171, 170, 255, 1);
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.carousel {
  display: inline-flex;
}

.caption {
  margin: 20px;
}

.caption-label {
  font-family: 'PixTimes';
  color:rgba(0, 250, 154, 1);
}

.nowplaying {
  width: 284px;
  height: 426px;
  border: 5px solid rgba(0, 250, 154, 1);
  margin-inline: 45px;
}

.previous {
  width: 200px;
  height: 300px;
  border: 5px solid rgba(171, 170, 255, 1);
  margin-top: 60px;
}

.next {
  width: 200px;
  height: 300px;
  border: 5px solid rgba(171, 170, 255, 1);
  margin-top: 60px;
}

.player-controls {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-block: 55px;
}

.next-prev {
  display: inline-flex;
  margin-inline: 15px;
}

.solid-play {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: white; /* Solid color */
  clip-path: polygon(100% 50%, 0 0, 0 100%); /* Creates a triangle shape */
  margin-inline: 20px;
}

.solid-next {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: white; /* Solid color */
  clip-path: polygon(100% 50%, 0 0, 0 100%); /* Creates a triangle shape */
}

.solid-prev {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: white; /* Solid color */
  clip-path: polygon(0 50%, 100% 0, 100% 100%); /* Creates a triangle shape */
}

.solid-prev2 {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: white; /* Solid color */
  clip-path: polygon(0 50%, 100% 0, 100% 100%); /* Creates a triangle shape */
}