@tailwind base;
@tailwind components;
@tailwind utilities;


.plr-caption {
  margin: 10px;
}

.plr-track-info {
  font-family: 'PixTimes';
  color:rgba(0, 250, 154, 1);
}

.plr-carousel {
  display: inline-flex;
}

.plr-nowplaying {
  width: 284px;
  height: 426px;
  border: 5px solid rgba(0, 250, 154, 1);
  margin-inline: 45px;
}

.plr-previous-track {
  width: 200px;
  height: 300px;
  border: 5px solid rgba(171, 170, 255, 1);
  margin-top: 60px;
}

.plr-next-track {
  width: 200px;
  height: 300px;
  border: 5px solid rgba(171, 170, 255, 1);
  margin-top: 60px;
}

.plr-play-time {
    border-top: 10px solid rgba(171, 170, 255, 1); /* Change color and thickness */
    margin: 30px 10px 0px 10px; /* Adjust spacing */
    width: 375px;
}

.plr-progress-bar {
    border-top: 5px solid rgba(0, 250, 154, 1); /* Change color and thickness */
    margin: 30px 0px 0px 0px; /* Adjust spacing */
    width: 375px;
}

.plr-progress {
    margin-top: 30px;
}

.plr-range {
    margin-inline: 10px;
    width: 300px;
}

input[type="range"] {
  --range-progress: 0;
  accent-color: rgba(0, 250, 154, 1);
  /* ... */
}

input[type="range"]::before {
  /* ... */
  background: rgba(171, 170, 255, 1);
  width: var(--range-progress);
  /* ... */
}

/* For Chrome, Safari, Opera, and Edge  */
/* input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(171, 170, 255, 1);
    height: 0.8rem;
} */
/* For Firefox */
/* input[type="range"]::-moz-range-track {
    background: rgba(171, 170, 255, 1);
    height: 0.8rem;
} */

.plr-time {
    color: rgba(0, 250, 154, 1)
}

.plr-player-controls {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-block: 15px;
}

.plr-play {
  width: 65px; /* Base width */
  height: 70px; /* Height of the triangle */
  color: rgba(0, 250, 154, 1); /* Solid color */
  margin-inline: 20px;
  cursor: pointer;
}

.plr-skip {
  width: 65px; /* Base width */
  height: 70px; /* Height of the triangle */
  color: rgba(171, 170, 255, 1); /* Solid color */
  cursor: pointer;
}

.plr-next-prev {
  display: inline-flex;
  margin-inline: 15px;
  margin-bottom: 30px;
}

.plr-solid-play {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: rgba(0, 250, 154, 1); /* Solid color */
  clip-path: polygon(100% 50%, 0 0, 0 100%); /* Creates a triangle shape */
  margin-inline: 20px;
}

.plr-solid-next {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: rgba(171, 170, 255, 1); /* Solid color */
  clip-path: polygon(100% 50%, 0 0, 0 100%); /* Creates a triangle shape */
}

.plr-solid-prev {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: rgba(171, 170, 255, 1); /* Solid color */
  clip-path: polygon(0 50%, 100% 0, 100% 100%); /* Creates a triangle shape */
}

.plr-solid-prev2 {
  width: 35px; /* Base width */
  height: 40px; /* Height of the triangle */
  background-color: rgba(171, 170, 255, 1); /* Solid color */
  clip-path: polygon(0 50%, 100% 0, 100% 100%); /* Creates a triangle shape */
}