@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --spacing: 10px;
}

.Enter {
  text-align: center;
}

.Enter-logo {
  height: 40vmin;
  pointer-events: all;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .Enter-logo {
    animation: breathe infinite alternate 3s linear;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.Enter-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Enter-link {
  color: #61dafb;
}

.entersandman {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border: mediumspringgreen solid 4px;
  position: absolute;
  color: maroon;
  animation: slowfade infinite 10s linear;
  padding: 1.2%;
  cursor: pointer;
  pointer-events: all;

  /* font-size: 58px; */
  /* border-radius: 20px; */
  /* top: 400px; */
  /* animation: slowfade-alt infinite alternate 10s linear 5s; */
}

.come-in {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  position: absolute;
  color: mediumspringgreen;
  opacity: 0;
  animation: comeuppance infinite 10s linear;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;

  /* border: maroon solid 4px; */
  /* border-radius: 20px; */
  /* font-size: 58px; */
  /* top: 405px; */
}

/*
  animations
    animation: animation-name=fadein 
    animation-timing-function=infinite 
    animation-direction=alternate 
    animation-duration=15s 
    animation-timing-function=linear 
    animation-delay=10s;
*/

@keyframes breathe {
  from {
    transform: scale(80%);
  }
  to {
    transform: scale(100%);
  }
}

@keyframes slowfade-alt {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slowfade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0; 
  }
  100%{
    opacity: 1;
  }
}

@keyframes comeuppance {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1; 
  }
  100%{
    opacity: 0;
  }
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dont-appear {
  from {
    opacity: 0
  }
  to {
    opacity: 0
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


